<form name="container-form" method="POST" class="mt-4" action="/products/handle-form-action">
    <a href="/products/stored">Danh sách sản phẩm</a>
    <h3>Sản phẩm đã xóa</h3>
    <div class="mt-4 d-flex align-items-center">
      <div class=" form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
      </div>
      <select class="form-select checkbox-select-all-options" aria-label="Default select example" name="action" required>
        <option selected value="default"> -- Chọn hành động --</option>
        <option value="restore">Khôi phục</option>
        <option value="forceDelete">Xóa vĩnh viễn</option>
      </select>
      <button type="button" class="btn btn-primary check-all-submit-btn disabled">Thực hiện</button>
    </div>
    <table class="table table-hover align-middle">
        <thead style="text-align:center">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">
                  Tên sản phẩm
                  {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">
                  Ảnh
                </th>
                <th scope="col">
                  Thời gian xóa
                  {{{sortable 'deletedAt' _sort}}}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td>
                      <div class=" form-check">
                        <input type="checkbox" class="form-check-input" name="productIds[]" value="{{this._id}}">                
                      </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td class="fixed-carousel-column">
                      <div id="carouselExample-{{@index}}" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-inner">
                            {{#each this.image}}
                              <div class="carousel-item {{#if @first}}active{{/if}}">
                                  <a href="#"  data-bs-toggle="modal" data-bs-target="#imageModal">
                                      <img src="{{this.url}}" class="w-100 carousel-image" alt="{{../name}} Image {{@index}}">
                                  </a>
                              </div>
                            {{/each}}
                        </div>
                        {{#if (gt this.image.length 1)}}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample-{{@index}}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample-{{@index}}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        {{/if}}
                      </div>
                    </td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a class="btn btn-primary btn-restore" href="" role="button" data-bs-id="{{this._id}}">Khôi phục</a>
                        <a class="btn btn-primary" href="" role="button" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#delete-products-Modal">Xóa vĩnh viễn</a>
                    </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="10" class="text-center">
                    Không có sản phẩm nào trong thùng rác
                  </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>
<!-- Image modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">                           
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modalImage" src="" class="img-fluid"> </div>
      </div>
    </div>
  </div>
</div>
{{!Confirm delete products}}
<div class="modal fade" id="delete-products-Modal" tabindex="-1" aria-labelledby="deleteProductsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteProductsModalLabel">Xóa sản phẩm?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hành động này không thể khôi phục. Bạn vẫn muốn xóa sản phẩm này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="btn-delete-products">Xóa vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>
{{!DELETE products hidden form}}
<form name="restore-product-form" method="POST"></form>
<form name="delete-product-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded',function() {
      feather.replace();
      const deleteproductsModal = document.getElementById('delete-products-Modal')
      var productId;
      var deleteForm=document.forms['delete-product-form']
      var restoreForm=document.forms['restore-product-form']
      var restoreBtn=$('.btn-restore')
      var productItemCheck=$('input[name="productIds[]"]')
      var checkboxAll=$('#checkbox-all')
      var checkAllSubmitBtn=$('.check-all-submit-btn')
      var containerForm=document.forms['container-form']
      var dropdown = $('.checkbox-select-all-options')
      // Images clicked
      $(document).ready(function() {
      $('.carousel-image').click(function() {
        const imageUrl = $(this).attr('src');
        $('#modalImage').attr('src', imageUrl); 
      });
      $('#imageModal').click(function(event) {
        if (event.target.id !== 'modalImage') {
          $(this).modal('hide');
        }
      });
    });
      // Dialog confirm clicked
      if (deleteproductsModal) {
          deleteproductsModal.addEventListener('show.bs.modal', event => {
              const button = event.relatedTarget
              productId = button.getAttribute('data-bs-id')
          })
      }
      // Delete btn clicked
      const btnDeleteProducts=document.getElementById('btn-delete-products')
      btnDeleteProducts.onclick=function(){
          deleteForm.action='/products/'+productId+'/force?_method=DELETE'
          deleteForm.submit()
      }
      // Restore btn clicked
      restoreBtn.click(function (e){
        e.preventDefault()
        var productId = $(this).data('bs-id');
        restoreForm.action='/products/'+productId+'/restore?_method=PATCH'
        restoreForm.submit()
      })
      // 'All check box' state change
      checkboxAll.change(function(){
        var isCheckedAll = $(this).prop('checked')
        productItemCheck.prop('checked',isCheckedAll)
        renderCheckAllBtn()
      })
      // Check box 'all' state change
      productItemCheck.change(function(){
        var allBoxChecked = productItemCheck.length === $('input[name="productIds[]"]:checked').length
        checkboxAll.prop('checked',allBoxChecked)
        renderCheckAllBtn()
      })
      // Submit btn click
      checkAllSubmitBtn.click(function(e){
        var isSubmittable=!$(this).hasClass('disabled')
        if(isSubmittable){
          containerForm.submit()
        }
      })
      // Drop-down choosed option change
      dropdown.change(function(){
        renderCheckAllBtn()
      })
      // Submit btn state change
      function renderCheckAllBtn(){
        var checkedCount = $('input[name="productIds[]"]:checked').length
        if(checkedCount>0 && dropdown.val()!=="default"){
          checkAllSubmitBtn.removeClass('disabled')
        }else{
          checkAllSubmitBtn.addClass('disabled')
        }
      }
    })
</script>
